input{
    padding: 6px;
    width: 41pc;
    margin: 1%;
}
a{
    display: inline-block;
    padding: 1%;
    margin: 2%;
    background-color: #375684;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
button{
    padding: 1%;
    width: 5pc;
    font-size: 23px;
    cursor: pointer;
}